@font-face {
    font-family: Franklin Gothic Demi;
    src: url(/fonts/FRAHV.ttf);
}

@font-face {
    font-family: Proximanova Light;
    src: url(/fonts/proximanova-light.otf);
}

body {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}

.nerp-img {
    margin: 0.5% 1px 1px 35%;
}

nav.top-nav {
    margin-top: 40px;
    margin-bottom: 30px;
}

nav.top-nav ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*		 border: 1px solid yellow;*/
}

nav.top-nav li {
    display: inline-block;
    margin: 0 5px 0 5px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(/img/button.png);
    background-repeat: no-repeat;
    /*		 border: 1px solid red;*/
}

nav.top-nav a {
    font-family: Franklin Gothic Demi;
    font-size: 20px;
    color: white;
    text-decoration: none;
    width: 140px;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    text-shadow: 2px 2px 5px black;
    /*		 border: 1px solid green;*/
}

nav.top-nav a:hover {
    color: lightgreen;
}

.wrapper {
    position: relative;
    width: 1300px;
    height: 1000px;
    margin: 0 auto;
}

.inner-wrapper,
.blur {
    position: absolute;
    width: 1300px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.inner-wrapper {
    z-index: 100; /* текст не размыт */
    color: #fff;
    font-family: Franklin Gothic Demi;
    margin-left: 20px;
    width: 97%;
}

.inner-wrapper h2 {
    text-shadow: 2px 2px 5px black;
}

.inner-wrapper p {
    font-family: Proximanova Light;
    font-size: 17px;
}

.blur {

    z-index: 99; /* изображение размыто */
/*    background-image: url(/img/background-content.png);*/
    background-color: #064e92;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.7;
    filter: url('/css/blur.svg#blur'); /* путь к svg */
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
    margin: auto;
    height: 420px !important;
    border-radius: 13px;
}

.carousel-indicators {
    bottom: 0px;
}
.carousel-inner {
    opacity: 0.8 !important;
}
.carousel-control {
    z-index: 99; /* изображение размыто */
/*    background-image: url(/img/background-content.png);*/
    background-color: #064e92;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.8 !important;
    filter: url('/css/blur.svg#blur'); /* путь к svg */
    border-radius: 13px;
}
.container {
    width: 1320px !important;
}