.panel {
    opacity: 0.9;
    background-color: #064e92;
    color: #fff;
    border-radius: 15px;
    box-shadow: inset rgba(0,0,0,1) 0 0 13px, inset #000 0 27px 92px;
    
}
.panel h2 {
    text-shadow: 2px 2px 5px black;
    margin-top: 3px;
    margin-bottom: 21px;
}