﻿@font-face {
    font-family: larisa_script;
    src: url(/fonts/larisa_script.ttf);
}

@font-face {
    font-family: Franclin Gothic Heavy;
    src: url(/fonts/FRAHV.ttf);
}

body {
    background-image: url(/img/background.jpg);
    background-attachment: fixed;
    background-color: #064e92;
    background-repeat: no-repeat;
    background-size: 100%
}

.nerp-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
}

.clear {
    clear: both
}


/* remove the list style */

#nav {
    margin-top: 40px;
    margin-bottom: 30px;
    list-style: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
}

#nav li {
    float: left;
    display: block;
    background-image: url(/img/button.png);
    background-repeat: no-repeat;
    position: relative;
    z-index: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;

}

#nav li a {
    text-align: center;
    font-family: Franclin Gothic Heavy;
    font-size: 20px;
    color: white;
    text-decoration: none;
    width: 180px;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    text-shadow: 2px 2px 5px black;
    padding: 0px 5px 0px 8px;
}

#nav li a:hover {
    color: lightgreen;
}

#nav ul {
    text-align: center;
    position: absolute;
    left: 0;
    display: none;
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;
}

#nav ul li {
    text-align: center;
    display: inline-block;
    float: left;
    display: block;
    background-image: url(/img/button.png);
    background-repeat: no-repeat;
    position: relative;
    z-index: 500;
    margin: 0 1px;
}

#nav ul a {
    font-family: Franclin Gothic Heavy;
    font-size: 15px;
    color: white;
    text-decoration: none;
    width: 180px;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    text-shadow: 2px 2px 5px black;
    padding: 0px 5px 0px 8px;
}

#nav ul a:hover {
    text-decoration: underline;
    color: lightgreen;
}

*html #nav ul {
    margin: 0 0 0 -2px;
}

.wrapper {
    position: relative;
    width: 1300px;
    height: 700px;
    margin: 0 auto;
}

.inner-wrapper,
.blur {
    position: absolute;
    width: 1100px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.inner-wrapper {
    z-index: 100;
    /* текст не размыт */
    color: #fff;
    font-family: larisa_script;
    padding: 18px;
    text-align: center;
}

.inner-wrapper h2 {
    text-shadow: 2px 2px 5px black;
}

.inner-wrapper p {
    font-family: larisa_script;
    font-size: 30px;
    text-shadow: 4px 3px 6px brown;
}

.blur {
    z-index: 99;
    /* изображение размыто */
    /*    background-image: url(/img/background-content.png);*/
    background-color: #064e92;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.7;
    filter: url('/css/blur.svg#blur');
    /* путь к svg */
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    height: 420px !important;
    border-radius: 13px;
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-inner {
    opacity: 0.8 !important;
    background-color: #064e92;
    
    border-radius: 13px;
}

.carousel-control {
    z-index: 99;
    /* изображение размыто */
    /*    background-image: url(/img/background-content.png);*/
    
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.8 !important;
    filter: url('/css/blur.svg#blur');
    /* путь к svg */
    border-radius: 13px;
}

.container {
    width: 1320px !important;
}

.helpful a {
    color: #fbf;
}